body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #8db4de;
}

.app {
  margin: 50px auto;
  padding: 20px;
  background: rgb(132, 149, 218);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  color: #fff;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.price-card {
  background: #8db4de;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.price-card p {
  font-size: 18px;
  margin: 5px 0;
}

.refresh-btn {
  background: #8db4de;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.refresh-btn:hover {
  background: #0056b3;
}
